@model TicketsVM

<div class="header__form">
    <form asp-action="Index" method="post">
        <input type="text" name="From" placeholder="Звідки" class="header__form-from" required value="@Model.From">
        <input type="text" name="To" placeholder="Куди" class="header__form-to" required value="@Model.To">
        <input type="date" name="DepartureDate" placeholder="Дата" class="header__form-date" onkeydown="return false" value="@Model.DepartureDate.ToString("yyy-MM-dd")">
        <button type="submit" class="header__form-button">Пошук<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<main class="tickets-content">
    <div class="tickets-content__title">
        <div class="tickets-content__title-wrap">
            <div class="tickets-content__title-subtitle">Квитки на автобус:</div>
            <div class="tickets-content__title-title">@Model.From - @Model.To</div>
        </div>
        <div class="tickets-content__title-sortby-button">
            <button class="tickets-content__title-sortby-button-button">Сортувати по  <i class="fa-solid fa-gears"></i></button>
        </div>
    </div>
    <div class="tickets-content__sort-options">
        <button class="tickets-content__sort-options-button departure-time">Відправлення  <i class="fa-solid fa-chevron-down"></i></button>
        <button class="tickets-content__sort-options-button arrive-time">Прибуття  <i class="fa-solid fa-chevron-down"></i></button>
        <button class="tickets-content__sort-options-button travel-time">Час в дорозі  <i class="fa-solid fa-chevron-down"></i></button>
        <button class="tickets-content__sort-options-button price">Ціна  <i class="fa-solid fa-chevron-down"></i></button>
        <button class="tickets-content__sort-options-button tickets-left">Квитки  <i class="fa-solid fa-chevron-down"></i></button>
    </div>
    <div class="tickets-content__tickets">
        <div class="tickets-content__tickets">
            @foreach (Ride ride in Model.Rides)
            {
                Console.WriteLine(Model.Rides.Count());
                var departureTime = Regex.Replace(ride.ArrivalTime.ToString("dd MMM, ddd"), @"\.(.)|\b(.)", m => m.Groups[1].Success ? m.Groups[1].Value : m.Groups[2].Value.ToUpper());
                var arrivalTime = Regex.Replace(ride.ArrivalTime.ToString("dd MMM, ddd"), @"\.(.)|\b(.)", m => m.Groups[1].Success ? m.Groups[1].Value : m.Groups[2].Value.ToUpper());

                <div class="tickets-content__tickets-ticket">
                    <div class="tickets-content__tickets-ticket-content">
                        <div class="tickets-content__tickets-ticket-places">
                            <div class="tickets-content__tickets-ticket-places-from">
                                <div class="tickets-content__tickets-ticket-places-from-city">@ride.DeparturePlace.Station</div>
                                <div class="tickets-content__tickets-ticket-places-from-street">@ride.DeparturePlace.Street</div>
                            </div>
                            <div class="tickets-content__tickets-ticket-places-to">
                                <div class="tickets-content__tickets-ticket-places-to-city">@ride.ArrivalPlace.Station</div>
                                <div class="tickets-content__tickets-ticket-places-to-street">@ride.ArrivalPlace.Street</div>
                            </div>
                        </div>
                        <div class="tickets-content__tickets-ticket-when">
                            <div class="tickets-content__tickets-ticket-when-from_time">
                                <div class="tickets-content__tickets-ticket-when-from_time-time">@ride.DepartureTime.ToString("HH:mm") <i class="fa-solid fa-van-shuttle"></i></div>
                                <div class="tickets-content__tickets-ticket-when-from_time-day">@departureTime</div>
                            </div>
                            <div class="tickets-content__tickets-ticket-when-line"></div>
                            <div class="tickets-content__tickets-ticket-when-time_in_trip">
                                <div class="tickets-content__tickets-ticket-when-time_in_trip-icon"><i class="fa-regular fa-clock"></i></div>
                                <div class="tickets-content__tickets-ticket-when-time_in_trip-time">@((ride.ArrivalTime - ride.DepartureTime).ToString("hh\\:mm"))</div>
                            </div>
                            <div class="tickets-content__tickets-ticket-when-line"></div>
                            <div class="tickets-content__tickets-ticket-when-to_time">
                                <div class="tickets-content__tickets-ticket-when-to_time-time"><i class="fa-solid fa-location-dot"></i> @ride.ArrivalTime.ToString("HH:mm")</div>
                                <div class="tickets-content__tickets-ticket-when-to_time-day">@arrivalTime</div>
                            </div>
                        </div>
                    </div>
                    <div class="tickets-content__tickets-ticket-buy">
                        <div class="tickets-content__tickets-ticket-buy-price">@ride.Price грн</div>
                        <div class="tickets-content__tickets-ticket-buy-form">
                            <form action="">
                                <button class="tickets-content__tickets-ticket-buy-form-button" type="submit">
                                    <div class="tickets-content__tickets-ticket-buy-form-button-content">
                                        <div class="tickets-content__tickets-ticket-buy-form-button-content-text">
                                            Купити
                                        </div>
                                        <div class="tickets-content__tickets-ticket-buy-form-button-content-icon">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </div>
                                </button>
                            </form>
                            <div class="tickets-content__tickets-ticket-buy-form-tickets_left">Залишилось квитків: @ride.TicketsAvailable шт.</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>