@model HomeVM
@{
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("uk-UA");
}
<div class="header__form">
    <form asp-controller="Tickets" asp-action="Index" method="post" autocomplete="off">
        <div class="header__form-from-wrap">
            <input type="text" name="From" placeholder="Звідки" class="header__form-from" required>
            <div class="header__form-from-cities">
                @foreach (ListAllDeparturePlacesDto departurePlace in Model.DeparturePlaces)
                {
                    <div class="header__form-from-cities-city">@departurePlace.City</div>
                }
            </div>
        </div>
        
        <div class="header__form-to-wrap">
            <input type="text" name="To" placeholder="Куди" class="header__form-to" required>
            <div class ="header__form-to-cities">
                @foreach (ListAllArrivalPlacesDto arrivalPlace in Model.ArrivalPlaces)
                {
                    <div class="header__form-to-cities-city">@arrivalPlace.City</div>
                }
            </div>
        </div>
        
        <input type="date" name="DepartureDate" placeholder="yyyy-mm-dd" class="header__form-date" onkeydown="return false" required>
        <button type="submit" class="header__form-button">Пошук<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<main class="maincontent">
    <div class="maincontent__wrap">
        <div class="maincontent__wrap-pros">
            <div class="maincontent__wrap-pros-single">
                <div class="maincontent__wrap-pros-single-icon"><i class="fa-solid fa-notes-medical"></i></div>
                <div class="maincontent__wrap-pros-single-title">Здоров'я та безпека</div>
                <div class="maincontent__wrap-pros-single-text">Піклуйтеся про свою безпеку й безпеку інших пасажирів під час подорожі з нами.</div>
            </div>
            <div class="maincontent__wrap-pros-single">
                <div class="maincontent__wrap-pros-single-icon"><i class="fa-brands fa-envira"></i></div>
                <div class="maincontent__wrap-pros-single-title">Турбота про довкілля</div>
                <div class="maincontent__wrap-pros-single-text">Автобуси викидають мінімум вуглекислих газів у розрахунку на пасажиро-кілометр.</div>
            </div>
            <div class="maincontent__wrap-pros-single">
                <div class="maincontent__wrap-pros-single-icon"><i class="fa-solid fa-mug-hot"></i></div>
                <div class="maincontent__wrap-pros-single-title">Напої в автобусі</div>
                <div class="maincontent__wrap-pros-single-text">Під час поїздки вам буде запропоновано кава, чай та холодні напої.</div>
            </div>
            <div class="maincontent__wrap-pros-single">
                <div class="maincontent__wrap-pros-single-icon"><i class="fa-solid fa-wifi"></i></div>
                <div class="maincontent__wrap-pros-single-title">Швидкісний WI-FI</div>
                <div class="maincontent__wrap-pros-single-text">В автобусі передбачено безкоштовний 4G інтернет зі швидкістю до 150 Мбіт/с</div>
            </div>
        </div>
        <div class="maincontent__wrap-popular_tickets">
            <div class="maincontent__wrap-popular-tickets-title">Найпопулярніші поїздки:</div>
            <div class="maincontent__wrap-popular_tickets-content">
                <div class="tickets-content__tickets">
                    @foreach (Ride ride in Model.Rides)
                    {
                        var departureTime = Regex.Replace(ride.DepartureTime.ToString("dd MMM, ddd"), @"\.(.)|\b(.)", m => m.Groups[1].Success ? m.Groups[1].Value : m.Groups[2].Value.ToUpper());
                        var arrivalTime = Regex.Replace(ride.ArrivalTime.ToString("dd MMM, ddd"), @"\.(.)|\b(.)", m => m.Groups[1].Success ? m.Groups[1].Value : m.Groups[2].Value.ToUpper());

                        <div class="tickets-content__tickets-ticket">
                            <div class="tickets-content__tickets-ticket-content">
                                <div class="tickets-content__tickets-ticket-places">
                                    <div class="tickets-content__tickets-ticket-places-from">
                                        <div class="tickets-content__tickets-ticket-places-from-city">@ride.DeparturePlace.City</div>
                                        <div class="tickets-content__tickets-ticket-places-from-station">@ride.DeparturePlace.Station</div>
                                        <div class="tickets-content__tickets-ticket-places-from-street">@ride.DeparturePlace.Street</div>
                                    </div>
                                    <div class="tickets-content__tickets-ticket-places-to">
                                        <div class="tickets-content__tickets-ticket-places-to-city">@ride.ArrivalPlace.City</div>
                                        <div class="tickets-content__tickets-ticket-places-to-station">@ride.ArrivalPlace.Station</div>
                                        <div class="tickets-content__tickets-ticket-places-to-street">@ride.ArrivalPlace.Street</div>
                                    </div>
                                </div>
                                <div class="tickets-content__tickets-ticket-when">
                                    <div class="tickets-content__tickets-ticket-when-from_time">
                                        <div class="tickets-content__tickets-ticket-when-from_time-time">@ride.DepartureTime.ToString("HH:mm") <i class="fa-solid fa-van-shuttle"></i></div>
                                        <div class="tickets-content__tickets-ticket-when-from_time-day">@departureTime</div>
                                    </div>
                                    <div class="tickets-content__tickets-ticket-when-line"></div>
                                    <div class="tickets-content__tickets-ticket-when-time_in_trip">
                                        <div class="tickets-content__tickets-ticket-when-time_in_trip-icon"><i class="fa-regular fa-clock"></i></div>
                                        <div class="tickets-content__tickets-ticket-when-time_in_trip-time">@((ride.ArrivalTime - ride.DepartureTime).ToString("hh\\:mm"))</div>
                                    </div>
                                    <div class="tickets-content__tickets-ticket-when-line"></div>
                                    <div class="tickets-content__tickets-ticket-when-to_time">
                                        <div class="tickets-content__tickets-ticket-when-to_time-time"><i class="fa-solid fa-location-dot"></i> @ride.ArrivalTime.ToString("HH:mm")</div>
                                        <div class="tickets-content__tickets-ticket-when-to_time-day">@arrivalTime</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tickets-content__tickets-ticket-buy">
                                <div class="tickets-content__tickets-ticket-buy-price">@ride.Price грн</div>
                                <div class="tickets-content__tickets-ticket-buy-form">
                                    <form action="">
                                        <button class="tickets-content__tickets-ticket-buy-form-button" type="submit">
                                            <div class="tickets-content__tickets-ticket-buy-form-button-content">
                                                <div class="tickets-content__tickets-ticket-buy-form-button-content-text">
                                                    Купити
                                                </div>
                                                <div class="tickets-content__tickets-ticket-buy-form-button-content-icon">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </form>
                                    <div class="tickets-content__tickets-ticket-buy-form-tickets_left">Залишилось квитків: @ride.TicketsAvailable шт.</div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="maincontent__subscription">
                        <div class="maincontent__subscription-title">
                            <div class="maincontent__subscription-title-icon"><i class="fa-solid fa-envelope-open-text"></i></div>
                            <div class="maincontent__subscription-title-icon-text">
                                <div class="maincontent__subscription-title-icon-text-title">Знижки до 70% на поїздки автобусом</div>
                                <div class="maincontent__subscription-title-icon-text-subtitle">Закриті розпродажі для підписників та ідеї бюджетних подорожей</div>
                            </div>
                        </div>
                        <div class="maincontent__subscription-form">
                            <div class="maincontent__subscription-form-form">
                                <form action="" class="">
                                    <input class="maincontent__subscription-form-form-email" type="email" placeholder="Email" required>
                                    <input class="maincontent__subscription-form-form-submit" type="submit" value="Підписатися">
                                </form>
                            </div>
                            <div class="maincontent__subscription-form-agree">
                                <input type="checkbox">
                                <div class="maincontent__subscription-form-agree"><span>Даю згоду на <span class="maincontent__subscription-form-agree-red">обробку персональних даних</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
