@page
@model BusLiner.MVC.Areas.Administration.Pages.Rides.UpdateRideModel

<div class="manage-account__content-option-email_change manage-account__content-option-email_change-resend">
    <div class="manage-account__content-option-email_change-title">Редагування поїздки</div>
    <hr />
    <div class="manage-account__content-option-email_change-wrap manage-account__content-option-email_change-wrap-resend manage-account__content-admin">
        <form method="post">
            <input type="hidden" asp-for="Ride.Id" />
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.DeparturePlaceId" class="form-label">Звідки</label>
                <select asp-for="Ride.DeparturePlaceId">
                    @foreach (GetAllDeparturePlacesDto depPlace in Model.DeparturePlaces)
                    {
                        <option value="@depPlace.Id">@depPlace.City (@depPlace.Street)</option>
                    }
                </select>
            </div>
            <span asp-validation-for="Ride.DeparturePlaceId" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.ArrivalPlaceId" class="form-label">Куди</label>
                <select asp-for="Ride.ArrivalPlaceId">
                    @foreach (GetAllArrivalPlacesDto arrPlace in Model.ArrivalPlaces)
                    {
                        <option value="@arrPlace.Id">@arrPlace.City (@arrPlace.Street)</option>
                    }
                </select>
            </div>
            <span asp-validation-for="Ride.ArrivalPlaceId" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.DepartureTime" class="form-label">Час відправки</label>
                <input asp-for="Ride.DepartureTime" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="Ride.DepartureTime" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.ArrivalTime" class="form-label">Час прибуття</label>
                <input asp-for="Ride.ArrivalTime" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="Ride.ArrivalTime" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.TicketsAvailable" class="form-label">Доступно квитків</label>
                <input asp-for="Ride.TicketsAvailable" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="Ride.TicketsAvailable" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Ride.Price" class="form-label">Ціна</label>
                <input asp-for="Ride.Price" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="Ride.Price" class="text-danger admin-validation"></span>
            <button type="submit" class="manage-account__content-option-email_change-wrap-form-submit">Редагувати</button>
        </form>
    </div>
</div>
